<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=view-width, intial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css">

    </head>
    <body>

        <h1>here's a non-endpointed starter</h1>

        <div class="js-results"></div>


        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

        <script src="script.js"></script>
    </body>
</html>