<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=view-width, intial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css">

    </head>
    <body>
      <div class="wrapper">
        <h1 class="intro">here's a non-endpointed starter</h1>
        <div class="create-div box"><a class="link c">C</a><p class="create word">reate</p></div>
        <div class="read-div box"><a class="link r">R</a><p class="read word">ead</p></div>
        <div class="update-div box"><a class="link u">U</a><p class="update word">pdate</p></div>
        <div class="delete-div box"><a class="link d">D</a><p class="delete word">elete</p></div>
      </div>

        <div class="js-results"></div>


        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

        <script src="script.js"></script>
    </body>
</html>