* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 16vh;
}

.link:hover {
    font-size: 19vh;
}